/* Customizing Bootstrap Colors for WP UltimaKit */
/* Primary Color */
.btn-primary,
.badge-primary,
.bg-primary {
  background-color: #6610F2 !important;
  border-color: #6610F2 !important;
}

/* Secondary Color */
.btn-secondary,
.badge-secondary,
.bg-secondary {
  background-color: #C0C0C0 !important;
  border-color: #C0C0C0 !important;
}

/* Highlight/Action Color */
.btn-warning,
.badge-warning,
.bg-warning {
  background-color: #FFD700 !important;
  border-color: #FFD700 !important;
}

/* Additional Styling for WP UltimaKit Full-Width Navigation */
.navbar {
  font-family: "Arial", sans-serif;
}

.nav-item.nav-link:hover {
  color: #FFD700 !important;
}
.nav-item.nav-link:last-child {
  padding: 5px 15px;
  border: 2px solid #FFD700;
  border-radius: 20px;
}
.nav-item.nav-link:last-child:hover {
  background-color: #FFD700;
  color: #6610F2 !important;
}
.nav-item.nav-link.get-pro {
  padding: 5px 15px;
  border: 2px solid #FFD700;
  border-radius: 20px;
  background-color: #FFD700;
  color: #6610F2;
}
.nav-item.nav-link.get-pro:hover {
  background-color: #6610F2;
  color: #FFD700 !important;
}

.module-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.module-container .filters .filter_container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.module-container .filters .filter_container h4 {
  margin-right: 20px;
  color: #6610F2;
  font-size: 22px;
}
.module-container .filters .filter_container select,
.module-container .filters .filter_container input {
  border: 2px solid #6610F2;
  border-radius: 10px;
  padding: 5px;
}

.module-box {
  background-color: #FFFFFF;
  border: 2px solid #C0C0C0;
  border-radius: 15px;
  margin: 10px;
  position: relative;
  height: 200px;
  box-sizing: border-box;
}
.module-box:hover {
  border: 2px solid #6610F2;
  box-shadow: 0 4px 8px rgba(102, 16, 242, 0.3), 0 6px 20px rgba(102, 16, 242, 0.25);
}

.module-title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #6610F2;
  font-size: 1.1rem;
  max-width: 275px;
}

.module-description {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 0.9em;
  color: #666;
  max-width: 90%;
  margin-top: 15px;
}

.module-switch {
  position: absolute;
  top: 10px;
  right: -30px;
}

.learn-more-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #6610F2;
  text-decoration: none;
  border: 2px solid #6610F2;
  padding: 0px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  background-color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.learn-more-link:hover {
  background-color: #6610F2;
  color: #FFFFFF;
}

.pro-badge,
.free-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.8em;
}
.pro-badge.pro-badge,
.free-badge.pro-badge {
  background: linear-gradient(45deg, #6610F2, #FFD700);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.pro-badge.free-badge,
.free-badge.free-badge {
  background-color: #6610F2;
}

.doc-badge {
  position: absolute;
  bottom: 10px;
  right: 140px;
  color: #6610F2;
  padding: 1px 5px;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
}
.doc-badge a {
  text-decoration: none;
  color: #6610F2;
}

.WooCommerce .doc-badge {
  margin-right: 25px;
}

.form-check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.form-check-input:checked + .form-check-label::before {
  background-color: #6610F2;
}
.form-check-input:checked + .form-check-label::after {
  left: 16px;
}

.form-check-label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-weight: 600;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}
.form-check-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 16px;
  background-color: #ddd;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.form-check-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s;
}

/* Tabs */
.nav-tabs {
  border-bottom: 2px solid #C0C0C0;
  margin-bottom: 15px;
}
.nav-tabs .nav-item {
  margin-bottom: -2px;
}
.nav-tabs .nav-item .nav-link {
  border-radius: 8px 8px 0 0;
  border: 2px solid transparent;
  color: #6610F2;
  padding: 10px 15px;
  transition: all 0.3s;
  box-shadow: none;
}
.nav-tabs .nav-item .nav-link:hover {
  background-color: #F2F2F2;
  border-color: #C0C0C0;
  box-shadow: none;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #FFFFFF;
  color: #6610F2;
  border-color: #C0C0C0 #C0C0C0 #FFFFFF;
}

.tab-content {
  border: 2px solid #C0C0C0;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  margin-top: -17px;
}

/* Plugin Badge */
.plugin-badge {
  position: absolute;
  bottom: 10px;
  right: 60px;
  color: #FFFFFF;
  background-color: #007BFF;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.8em;
  z-index: 10;
}
.plugin-badge.woocommerce {
  background-color: #96588A;
}

/* Module Filters */
.module-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.module-filters .form-select,
.module-filters .form-control {
  width: auto;
}

.search-control {
  width: 20%;
}
.search-control input {
  width: 100% !important;
}
.search-control .form-control {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}
.search-control .form-control:hover {
  border-color: #555;
}
.search-control .form-control:focus {
  border-color: #0073e6;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

/* Help Content */
.help-container {
  background-color: #f7f8fc;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.help-section {
  margin-bottom: 40px;
}
.help-section h2 {
  border-bottom: 2px solid #e0e2e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.4em;
}
.help-section a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}
.help-section a:hover {
  color: #0056b3;
}

.faqs .faq-item {
  margin-bottom: 20px;
  border-left: 4px solid #6610F2;
  padding-left: 15px;
}
.faqs h3 {
  color: #6610F2;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.plugins-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.plugin-item {
  flex: 1;
  max-width: calc(33.33% - 20px);
  background-color: #f7f8fc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.plugin-item h3 {
  font-size: 1.2em;
  color: #6610F2;
  margin-bottom: 10px;
}

.plugin-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.explore-btn {
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.explore-btn:hover {
  background-color: #0056b3;
}

/* Plan Comparison */
.ultimakit-plans-comparison-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f2f4f8;
}

.ultimakit-plan {
  flex: 1;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
  background-color: #fff;
}
.ultimakit-plan:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.ultimakit-plan h2 {
  font-size: 24px;
  margin-top: 0;
  color: #6610F2;
}

.ultimakit-price {
  font-size: 30px;
  margin: 15px 0;
  font-weight: bold;
  color: #6610F2;
}

.ultimakit-ul {
  list-style-type: none;
  padding: 0;
}

.ultimakit-li {
  padding: 5px 0;
  color: #333;
}

.ultimakit-unavailable {
  text-decoration: line-through;
  color: #999;
}

.ultimakit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6610F2;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.ultimakit-btn:hover {
  background-color: #6610F2;
}

/* Toast notifications */
.toast-success {
  background-color: #4CAF50;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
}

.toast-error {
  background-color: #F44336;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
}

/* Modal */
.ultimakit_modal .modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
  border-radius: 0px;
}
.ultimakit_modal .modal-dialog {
  margin: 0 auto;
}
.ultimakit_modal .modal-header {
  background-color: #6610F2;
  padding: 10px;
  letter-spacing: 0.5px;
  border-radius: 0px;
}
.ultimakit_modal .modal-title {
  color: #FFD700;
  font-weight: 400;
}
.ultimakit_modal ul {
  padding-left: 5px;
  font-size: 0.9em;
}
.ultimakit_modal ul input[type=text],
.ultimakit_modal ul select {
  width: 100%;
  max-width: 350px;
}
.ultimakit_modal .modal-footer {
  padding: 5px;
}
.ultimakit_modal .btn-secondary {
  color: #6610F2;
  text-decoration: none;
  border: 2px solid #6610F2 !important;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  background-color: #FFFFFF !important;
  cursor: pointer;
}
.ultimakit_modal .btn-secondary:hover {
  color: #FFFFFF;
  background-color: #6610F2 !important;
}
.ultimakit_modal .btn-primary {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
}
.ultimakit_modal .btn-primary:hover {
  color: #6610F2;
  border: 2px solid #6610F2 !important;
  background-color: #FFFFFF !important;
}

/* Module Settings */
.module_settings ul {
  margin: 0px !important;
  padding: 0px !important;
}
.module_settings input[type=text],
.module_settings input[type=password],
.module_settings input[type=email],
.module_settings input[type=number] {
  width: 100%;
}
.module_settings label {
  font-weight: 500 !important;
}
.module_settings .module-switch {
  position: relative;
  top: auto;
  right: auto;
  margin-left: -40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fs-notice.success {
  color: #6610F2;
}

.notice-success,
div.updated {
  border-left-color: #6610F2;
}

.pro-plan {
  background: rgba(102, 16, 242, 0.0588235294);
}

.modal-body {
  padding: 10px 20px;
}
.modal-body select {
  width: 100%;
  max-width: 100%;
  padding: 5px;
}
.modal-body textarea {
  width: 100%;
}

.not_paying {
  opacity: 0.5;
}

.wpuk-version-info {
  font-size: 8px;
  letter-spacing: 1px;
  float: right;
  position: absolute;
  right: 70px;
  margin-top: 5px;
}

.modal-footer .btn {
  margin-right: 20px;
}

.ultimakit_view_mode a {
  text-decoration: none;
  margin-right: 15px;
}
.ultimakit_view_mode a span {
  font-size: 28px;
  color: #6610F2;
}

#ultimakit_search_module.typing {
  animation: typing 0.3s ease-in-out;
}

@keyframes typing {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #e0f7fa;
  }
  100% {
    background-color: #fff;
  }
}
#wpukTabs li a span {
  padding: 4px 10px;
  background-color: #6610F2;
  border-radius: 100%;
  color: #ffffff;
  margin-left: 10px;
}

#toast-container > div {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}

.pro-module-opacity {
  opacity: 0.6;
  pointer-events: none;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  width: 500px;
}

.ultimakit_hide_settings {
  display: none;
}
